/*

Main Nav

*/

#navbar {
	position: relative;
	top: 50px;
}

#navbar .row {
	margin: 0px 0px 0px 0px;
	padding: 8px 0px 8px 0px;
}

#navbar img {
	width: 60px;
}

#navbar ul {
	padding: 0px;
}

#navbar li {
	display: inline-block;
	list-style: none;
	float: right;
	position: relative;
	top: 25px;
	margin: 0px 0px 0px 40px;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
}

/*

Home 

*/

.home-container {
    padding: 0;
    margin:0;
    width: 100% !important;
    background-color: #e95f2b;
}

.content-container {
    width: 80% !important;
}

.hero {
	height: 100vh;
}

.headline {
	position: relative;
	top: 30vh;
}

.hero h1 {
	font-family: 'Roboto', sans-serif;
	font-weight: bolder;
	font-size: 12vmin;
	color: #fff;
	margin: 0px;
}

.hero h4 {
	font-family: 'Roboto', sans-serif;
	font-size: 3vmin;
	color: #fff;
	margin: 0px;
	font-weight: bolder;
}

.hero-line {
	border-bottom: 4px solid #fff;
	position: relative;
	top: 35vh;
    left: 15px;
    width: 7%;
}

.line {
	border-bottom: 4px solid #fff;
	position: relative;
	left: 55px;
    width: 7%;
    margin: 20px 0px;
}

.section-space {
	margin-top: 30px;
    margin-bottom: 55px;
}

.teachin img {
	position: relative;
	left: 16%;
	width: 55vw;
	border: 10px solid #fff; 
}

.contact {
}

.contact h1 {
	font-family: 'Roboto', sans-serif;
	color: #fff;
	font-size: 10vmin;
	font-weight: bold;
}

.contact h3 {
	color: #fff;
	line-height: 1.3;
	font-size: 4vmin;
	position: relative;
	left: 40px;
}

.contact ul {
	position: relative;
	left: 40px;
	margin: 0px 0px 40px 0px;
	padding: 0px;
}

.contact li {
	display: inline-block;
	list-style: none;
	position: relative;
	top: 25px;
	margin-right: 40px;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
}

#text-underline {
	border-bottom: 2px solid #fff;
	padding-bottom: 3px;
}

.contact-container {
    padding: 0;
    margin:0;
    width: 100% !important;
    background-color: #3f403f;	
}

.footer-container {
    padding: 0;
    margin:0;
    width: 100% !important;	
}

.footer-logo img {
	width: 80px;
}

.copyright-info {
	border-top: 1px solid #e95f2b;
	padding-top: 10px;
	color: #e95f2b;
	padding-left: 0px;
	margin-left: 0px;
	font-size: 11px;
	font-weight: bold;
}
